.checkboxContainer {
    display: flex;
    margin: 1rem 0 0.5rem;
}

.checkboxContainer input {
    margin-left: 1rem
}

.action:hover {
    cursor: pointer;
}

.loading-wrap {
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.showOrders:hover {
    cursor: pointer;
}

.showOrders {
    color: blue
}

.flex-row-item {
    margin-right: 2rem;
}
.last-item {
    margin-right: -1rem;
}

.different-cook {
    width: 9rem;
}

.hover-box {
    position: relative
}


.hover-box:hover .hover-text {
    visibility: visible;
}

.hover-text {
    position: absolute;
    text-align: center;
    background-color: black;
    color: white;
    padding: 0.4rem 0.4rem;
    right: -50px;
    border-radius: 20px;
    top: 40px;
    visibility: hidden;
}
