.mealItem {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 3rem;
}

.addIcon {
    padding: 0.2rem;
}

.addIcon:hover {
    cursor: pointer;
}

.ingredientsContainer {

}

.ingredientsTable {

}

.ingredientsTableItem {
    padding: 0.5rem;
    padding-bottom: 0.1rem;
    padding-left: 0;
}