.wrap {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 3rem;
}

.wrap:hover {
  cursor: pointer;
}

.item {
  margin-right: 2rem;
}

.icon {
  cursor: pointer;
  padding: 0.4rem;
}

.ingredientsContainer {
}

.ingredientsTable {
}

.ingredientsTableItem {
  padding: 0.5rem;
  padding-bottom: 0.1rem;
  padding-left: 0;
}

.mealOrders {
  padding: 1rem;
  border: 1px solid;
  margin: 1rem 0;
}

.typePrompt {
  display: flex;
  margin-top: 1rem;
}

.typeCheck:hover {
  cursor: pointer;
}

.regularOption {
  margin-right: 1rem;
}

.bigIcon {
  font-size: 2rem;
}

.addIcon:hover {
  color: green;
}

.removeIcon:hover,
.forbidIcon:hover {
  color: red;
}
