.name {
    font-weight: bold;
}

.mealCount{
    margin-top: 2rem;
}

.mealCount:hover {
    cursor: pointer;
}

.listLink {
    color: inherit;
    text-decoration: none;
}

.listLink:hover {
    color: inherit;
}